body, html {
    width : 100%; height : 100%; margin : 0; padding : 0; overflow: hidden;
}

html {
	-ms-touch-action: manipulation;
	touch-action: manipulation;
}

button { 
    --background-color: #fff;
    --color: #2F3545;
    --border-color: #2F3545;
    font-size: 16px; font-weight: bold;
    padding: 16px 32px; margin: 8px;
    border-radius: 24px;
    background-color: var(--background-color); color: var(--color); border: 2px solid var(--border-color);
}

div#clickArea {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
}

div.clickArea-item { height: 100%; width: 50%; }
div#clickArea_L { float: left; }
div#clickArea_R { float: right; }

div#alertWrapper {
    top: 10%;
    display: grid;
    height: fit-content;
    width: 100%;
    position: absolute;
    text-align: center;
}

a#gameAlert {
    font-size: 5vh;
}

a#gameScore {
    font-size: 10vh;
    transition: font-size 1s ease-out;
}

div#alertWrapper.in-game > a#gameAlert {
    display: none !important;
}
div#alertWrapper.in-game > a#gameScore {
    font-size: 15vh !important;
}

div#gooseWrapper {
    height: 30%;
    aspect-ratio: 1/1;
    position: fixed;
    left: 50%;
    top: 60%;
    transform: translateX(-50%);
}

img.goose {
    height: 100%;
    position: absolute;
    z-index: 2;  /* 요소 기준 */
}

img#goose_head {
    height: 75%;
    z-index: 1;  /* 요소 뒤 */
    top: -1%;
    right: 4.5%;

    --degree : 0deg;
    /* cubic-bezier(0.25, 0.5, 1, 0.75) */
    /* transition-timing-function: ease-in  cubic-bezier(0.25, 0.5, 1, 0.75); */
    /* transition: transform ease 120ms; */
    transition: transform cubic-bezier(0.5, 0, 1, 0.5) 150ms;
    /* rotate: var(--degree); */
    /* transform: rotateZ(var(--degree)); */
    transform: rotate(var(--degree));
    transform-origin: 50% 75%;
}

img.stop_walking {
    animation: none !important;
}

img.goose_foot {
    height: 20%;
    left: 50%;
    top: 83%;
    transform: translateX(-50%);

    animation-name: walking;
    animation-duration: 500ms;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-timing-function: ease-out;
}

img#goose_foot_R {
    z-index: 3;  /* 요소 앞 */
}

img#goose_foot_L {
    z-index: 1;  /* 요소 뒤 */
    left: 53%;
    animation-delay: 250ms;
}

@keyframes walking {
    100%, 0% {
        left: 50%;
        top: 83%;
    }
    33% {
        left: 51.5%;
        top: 80%;
    }
    66% {
        left: 53%;
        top: 83%;
    }
}

/*protectfilm*/ 
div.wrapperlayer { 
    z-index: 999;
    width: 100vw; height: 100vh;
    top: 0; left: 0; position: absolute;
    min-width: 100%; 
    background-color: rgba(0, 0, 0, 0.2); 
    display: flex;
    align-items: center; justify-content: center;
}

div.wrapper-modal {
    z-index: 9999;
    margin: auto;
    padding: 32px; background-color: #fff; 
    border-radius: 32px;
    font-size: 1rem; text-align: center; line-height: 1.5; overflow-y: auto;
    align-items: center; justify-content: center;
}

div.top-right {
    position: fixed; top: 8px; right: 8px;
}

div.gameover-title { font-size: 32px; font-weight: bold; margin: 8px;}
div.gameover-score { font-size: 24px; font-weight: bold; margin: 8px;}

button#rankings {
    width: 64px; height:64px; border: 0;
    background-image: url('./source/rankings.svg');
    background-position: center;
    background-size: 100%;
    background-color:rgba(0, 0, 0, 0);
}

.bg {
    margin:0; padding:0; top:0; left:0;
    width:100vw; height:100vh; min-height: 100vh; 
    background:url('./source/background001.png') 0 center / 3482px repeat-x;
    background-size: cover;
    animation: movebg 60s linear infinite;
}

@keyframes movebg {
    0% { background-position: 0 0; }
    100% { background-position: -10000px 0; }
}
